<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
	<a ui-sref="articles">Latest Articles</a>

  <h1 class="page-header">Create a new article:</h1>

  
  <form class="comment-form" ng-submit="addArticle()" name="articleForm">
	<input type="text" class="form-control" ng-model="newArticle.name" placeholder="Enter an article name" required/>
    <textarea class="form-control" ng-model="newArticle.info" rows="3" placeholder="Enter the article content" required></textarea>
	<input type="checkbox" class="form-control" ng-model="newArticle.active"  required/>
    <input class="btn btn-primary" type="submit" ng-disabled="commentForm.$invalid" value="Post">
  </form>
 
  <ul class="comment-list">
    <li ng-repeat="comment in comments">
      <header>{{ comment.author.name }}</header>
      <p>{{ comment.content }}</p>
    </li>
  </ul>
</div>